doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title BookEditor - All That Developer
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet") //구글폰트
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") //구글아이콘 
  body
    div.wrap
	//div class="ad_top"><a href="#"><img src="/img/ad_top.png" alt="" /></a></div>
    div.header
      div.snb_top
        ul.login_area
          li
            a(href="#")
              i.material-icons people 
              로그인
          li
            a(href="#")
              i.material-icons" person_add 
              회원가입
        h1.site_logo
          a(href="main.html")
            img(src="" alt="BookEditor")
		